/* src/components/Loading/styles.css */
.loading-overlay {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    gap: 20px;
  }
  
  .loading-overlay p {
    color: #4fa94d;
    font-size: 1.2rem;
  }